body {
  margin: 0;
  padding: 0;
  background: white;
  box-sizing: border-box;
}

/* ============ HEADER ============== */

.title {
  background: url("https://images.unsplash.com/photo-1526721940322-10fb6e3ae94a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
  height: 200px;
}

.brand-name {
  font-size: 80px;
  color: white;
  text-decoration: none;
}

a.brand-name {
  margin-top: 30px;
  padding: 50px;
}

nav.title{
  text-align: center;
}

/* ============ NAVIGATION BAR ============== */

li.nav-list-item {
  display: inline;
}

.nav-list-item a{
  font-size: 30px;
  padding: 30px;
  text-decoration: none;
}

.nav-list-item:hover{
  text-decoration: underline;
}

.nav-list-item a {  
  position: relative;
  margin-top: 80px;
  color: black;
}

.navigation {
  background-color: rgb(141, 123, 123);
  height: 80px;
  margin: 0;
}

/* ============ MAIN CONTENT ============== */

.bigText {
  font-size: 30px;
  color: black;
  padding: 10px;
  margin: 50% left;
}

/* ============ FORM ============== */

label {
  color: black;
}