﻿<html lang="en">
    <head>
        <title>Bookish</title>
        <link href="/site.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <nav class="title">
                <a class="brand-name" href="/">Bookish</a>
            </nav>
        </header>
        <main>
            <div class="navigation">
                <ul>
                <li class="nav-list"><a href="/all-books">List of books with auhtors</a></li>
                <li class="nav-list"><a href="/all-titles">List of titles</a></li>
                <li class="nav-list"><a href="/all-authors">List of authors</a></li>
                </ul>
            </div>
            {% block content %}{% endblock %} 
            
        </main>
    </body>
</html>