﻿<html lang="en">
    <head>
        <title>Bookish</title>
        <link href="/site.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <nav class="title">
                <a class="brand-name" href="/">Bookish</a>
            </nav>
        </header>
        <main>
            <div class="navigation">
                <ul class="nav-list">
                <li class="nav-list-item"><a href="/all-books">List of books with authors</a></li>
                <li class="nav-list-item"><a href="/book-id">Get book info by Id</a></li>
                <li class="nav-list-item"><a href="/all-titles">List of titles</a></li>
                <li class="nav-list-item"><a href="/all-authors">List of authors</a></li>
                <li class="nav-list-item"><a href="/add-book">Add Book</a></li>
                <li class="nav-list-item"><a href="/delete-book">Delete Book</a></li>
                <li class="nav-list-item"><a href="/all-users">List of users</a></li>
                <li class="nav-list-item"><a href="/user-id">Get user info by Id</a></li>
                </ul>
            </div>
            {% block content %}{% endblock %} 
            
        </main>
    </body>
</html>