{% extends "_base.html" %}

{% block content %}
<ul>
    <form method="post" action="/book-id">        
        
        <label for="id">ID</label>
        <input id="id" type="number" name="id"/>

        <button type="submit">Submit</button>

        {% for books in book %}     

        <p class="bigText">
        Book title: {{book.title}} <br> 
        Book author: {{book.author}} 
        <!-- Number of copies: {{book.id}} -->
        </p>

        {% endfor %}

    </form>
</ul>

{% endblock %}