{% extends "_base.html" %}

{% block content %}
<ul>
    <form method="post" action="/delete-book">        
        
        <label for="id">ID</label>
        <input id="id" type="number" name="id"/>

        <!-- <label for="author">Author</label>
        <input id="author" type="text" name="author"/> -->

        <!-- <label for="message-input"></label>
        <input id="message-input" type="text" name="Message"/> -->

        <button type="submit">Submit</button>

    </form>
</ul>

{% endblock %}