{% extends "_base.html" %}

{% block content %}
<ul>
    <form method="post" action="/user-id">        
        
        <label for="id">ID</label>
        <input id="id" type="number" name="id"/>

        <button type="submit">Submit</button>

        {% for user in user %}     

        <p class="bigText">
        {{user.name}} <br> 
        {{user.email}} 
        </p>

         <li class="bigText">  
        {{user.title}} <br>
        {{user.check_out_date}} <br>
        {{user.return_date}}</li>

        {% endfor %}

    </form>
</ul>

{% endblock %}